## Problem 1

In [15]:
# Lab 4
# Problem 1

import pandas as pd

## 1.a
#create pandas series from list
a = pd.Series([i for i in range(5,1,-1)])
b = pd.Series([i for i in range(10,14)])
c = pd.Series([-1, -1, 0, 0])

In [9]:
## 1.b
print(a+b)
print(b-a)
print(3*c)
print(a/b)
print(a/c)

0    15
1    15
2    15
3    15
dtype: int64
0     5
1     7
2     9
3    11
dtype: int64
0   -3
1   -3
2    0
3    0
dtype: int64
0    0.500000
1    0.363636
2    0.250000
3    0.153846
dtype: float64
0   -5.0
1   -4.0
2    inf
3    inf
dtype: float64

In [16]:
## 1.c
# Change a's index values to [2,3,4,5],
a.rename({0:2, 1:3, 2:4, 3:5})
# then display a.
print(a)

#index value does not change

0    5
1    4
2    3
3    2
dtype: int64

In [17]:
## 1.d

a.rename({0:2, 1:3, 2:4, 3:5}, inplace=True)
# then display a.
print(a)

#index value changes!

2    5
3    4
4    3
5    2
dtype: int64

In [18]:
## 1.e

print(a+b)
print(b-a)
print(3*c)
print(a/b)
print(a/c)

#for anyting involves a, the length of the pandas series changes!

0     NaN
1     NaN
2    17.0
3    17.0
4     NaN
5     NaN
dtype: float64
0    NaN
1    NaN
2    7.0
3    9.0
4    NaN
5    NaN
dtype: float64
0   -3
1   -3
2    0
3    0
dtype: int64
0         NaN
1         NaN
2    0.416667
3    0.307692
4         NaN
5         NaN
dtype: float64
0    NaN
1    NaN
2    inf
3    inf
4    NaN
5    NaN
dtype: float64

## Problem 2

In [21]:
# Problem 2
## 2.a

#Display a's index; 
print(a.index)
#set variable i equal to a's index and print it; 
i = a.index
print(i)

# display b's first two values; 
print(b[0:2])

# display c's last two values.
print(c[-2:])

Int64Index([2, 3, 4, 5], dtype='int64')
Int64Index([2, 3, 4, 5], dtype='int64')
0    10
1    11
dtype: int64
2    0
3    0
dtype: int64

In [30]:
## 2b
#Create d as a copy of b but with a's index and display it.
d = b.copy()
d.index = a.index
print(d)

## 2c. Try these: pd.isnull(d) and pd.notnull(d)
print(pd.isnull(d))
print(pd.notnull(d))

## 2d. Assign e as the nonnull entries of d; display it.
e = d[pd.notnull(d)]
print(e)

2    10
3    11
4    12
5    13
dtype: int64
2    False
3    False
4    False
5    False
dtype: bool
2    True
3    True
4    True
5    True
dtype: bool
2    10
3    11
4    12
5    13
dtype: int64

## Problem 3

In [31]:
## 3a. Create pandas Series named week1 with data [50.0, 25.75, 10.0, 32.5, 15.8] and week2 with data [70.0, 5.8, 2.2, 17.1, 31.1], but make the index of each 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'. Display week1 and week2.
week1 = pd.Series([50.0, 25.75, 10.0, 32.5, 15.8], index=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'])
week2 = pd.Series([70.0, 5.8, 2.2, 17.1, 31.1], index=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'])

## 3b. Assign totals as the sum of week1 and week2. Display it.
totals = week1 + week2
print(totals)

## 3c. Assign diffs as the gain or loss from week1 to week2. Display it.
diffs = week2 - week1
print(diffs)

## 3d. Display week1's values for Monday and Tuesday. Display week2's data for Wednesday through Friday using iloc( ).
print(week1['Monday':'Tuesday'])
print(week2.iloc[2:])

Monday       120.00
Tuesday       31.55
Wednesday     12.20
Thursday      49.60
Friday        46.90
dtype: float64
Monday       20.00
Tuesday     -19.95
Wednesday    -7.80
Thursday    -15.40
Friday       15.30
dtype: float64
Monday     50.00
Tuesday    25.75
dtype: float64
Wednesday     2.2
Thursday     17.1
Friday       31.1
dtype: float64

## Problem 4

In [61]:
states.iloc[15]

AttributeError: 'numpy.int64' object has no attribute 'index'

In [54]:
## 4a Create the pandas Series named states from the file 'states.csv'. Print it.
df = pd.read_csv('states.csv')
states = pd.Series(df['POPULATION'].values, index=df['NAME'])
print(states)

## 4b Print the index of states
print(states.index)

## 4c. Print the 15th entry of the index. 
# Print the 15th entry of the data using iloc. 
print(states.iloc[14])
# Print that entry again using loc and the name of the state.
name  = states.index.values[14]
print(states.loc[name])

NAME
Alabama                  4785448
Alaska                    713906
Arizona                  6407774
Arkansas                 2921978
California              37320903
Colorado                 5048281
Connecticut              3579125
Delaware                  899595
District of Columbia      605085
Florida                 18845785
Georgia                  9711810
Hawaii                   1363963
Idaho                    1570773
Illinois                12840762
Indiana                  6490436
Iowa                     3050767
Kansas                   2858213
Kentucky                 4348200
Louisiana                4544532
Maine                    1327632
Maryland                 5788642
Massachusetts            6566431
Michigan                 9877535
Minnesota                5310843
Mississippi              2970536
Missouri                 5995976
Montana                   990722
Nebraska                 1829536
Nevada                   2702464
New Hampshire            1316777
New Jersey               8799624
New Mexico               2064588
New York                19400080
North Carolina           9574293
North Dakota              674710
Ohio                    11539327
Oklahoma                 3759632
Oregon                   3837532
Pennsylvania            12711158
Rhode Island             1053938
South Carolina           4635656
South Dakota              816165
Tennessee                6355301
Texas                   25242679
Utah                     2775334
Vermont                   625880
Virginia                 8023680
Washington               6742902
West Virginia            1854214
Wisconsin                5690479
Wyoming                   564483
Puerto Rico              3721525
dtype: int64
Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
       'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype='object', name='NAME')
3050767
6490436

# Lab 5

## Problem 1

In [ ]:
# Problem 1
# Create pandas DataFrames using the following data, but using different creation methods:
# use a dict of the columns; no index names

# use a list of lists of the rows; no index names

# make a copy of b; set the index names as listed in the table

In [68]:
## 1a
# create pandas datafram from dictionary of columns
a = pd.DataFrame({'Age':[7, 3,17], 'Breed':['Mix','Corgi', 'Collie']})

# create pandas datafram from list of rows
b = pd.DataFrame([[7, 'Mix'], [3, 'Corgi'], [17, 'Collie']], columns=['Age', 'Breed'])

# make a copy of b; set the index names as listed in the table
c = b.copy()
c.index = ['Fido', 'Barfy', 'Lassie']

print(a)
print(b)
print(c)

   Age   Breed
0    7     Mix
1    3   Corgi
2   17  Collie
   Age   Breed
0    7     Mix
1    3   Corgi
2   17  Collie
        Age   Breed
Fido      7     Mix
Barfy     3   Corgi
Lassie   17  Collie

In [69]:
## 1b. Display the following: 
# a's zeroth column; 
print(a.iloc[:,0])

# b's first row; 
print(b.iloc[1,:])

# c's 'Lassie' row (by name)
print(c.loc['Lassie'])

0     7
1     3
2    17
Name: Age, dtype: int64
Age        7
Breed    Mix
Name: 0, dtype: object
Age          17
Breed    Collie
Name: Lassie, dtype: object

In [ ]:
## 1c
#Display a's first row, zeroth column; 
print(a.iloc[1,0])
# b's zeroth row, first column; 
print(b.iloc[0,1])
# c's second row, zeroth column.
print(c.iloc[2,0])

In [70]:
## 1d 
# Rename a's index to the names in the table. Display a.
a.rename(index={0:'Fido', 1:'Barfy', 2:'Lassie'}, inplace=True)
print(a)

        Age   Breed
Fido      7     Mix
Barfy     3   Corgi
Lassie   17  Collie

In [71]:
## 1e
#Add a row to b: 5, Pit Bull (with ignore_index=True). Display b
b = b.append({'Age':5, 'Breed':'Pit Bull'}, ignore_index=True)
print(b)

   Age     Breed
0    7       Mix
1    3     Corgi
2   17    Collie
3    5  Pit Bull

In [72]:
## 1f
# Add a 'Weight' column to c, setting values at 20, 15, and 35. Display c
c['Weight'] = [20, 15, 35]
print(c)

        Age   Breed  Weight
Fido      7     Mix      20
Barfy     3   Corgi      15
Lassie   17  Collie      35

## Problem 2

In [73]:
#  2a. Create a pandas DataFrame named salesData for the following data. Note: the day names are index values, not a column of data. On Monday, Sales were 2000.43 and Profit was 234.12. On Tuesday, the values were 1887.58 and 184.45; Wednesday, 2729.10 and 302.14; Thursday, 2555.55 and 289.75; Friday, 4208.15 and 441.12. Display salesData
salesData = pd.DataFrame({'Sales':[2000.43, 1887.58, 2729.10, 2555.55, 4208.15], 'Profit':[234.12, 184.45, 302.14, 289.75, 441.12]}, index=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'])
print(salesData)

             Sales  Profit
Monday     2000.43  234.12
Tuesday    1887.58  184.45
Wednesday  2729.10  302.14
Thursday   2555.55  289.75
Friday     4208.15  441.12

In [74]:
# Display just the Sales data. Display just the Profit data. Display just Wednesday's data. Display just Thursday's profit.
print(salesData['Sales'])
print(salesData['Profit'])
print(salesData.loc['Wednesday'])
print(salesData.loc['Thursday', 'Profit'])

Monday       2000.43
Tuesday      1887.58
Wednesday    2729.10
Thursday     2555.55
Friday       4208.15
Name: Sales, dtype: float64
Monday       234.12
Tuesday      184.45
Wednesday    302.14
Thursday     289.75
Friday       441.12
Name: Profit, dtype: float64
Sales     2729.10
Profit     302.14
Name: Wednesday, dtype: float64
289.75

In [76]:
## 2c Add a new column named '#Customers' with values 12, 10, 8, 11, 22, and display it.
salesData['#Customers'] = [12, 10, 8, 11, 22]
print(salesData)

             Sales  Profit  #Customers
Monday     2000.43  234.12          12
Tuesday    1887.58  184.45          10
Wednesday  2729.10  302.14           8
Thursday   2555.55  289.75          11
Friday     4208.15  441.12          22

In [77]:
## 2d Add a new row named 'Saturday' with values 1793.00, 184.57, 9, and display it.
salesData.loc['Saturday'] = [1793.00, 184.57, 9]
print(salesData)

             Sales  Profit  #Customers
Monday     2000.43  234.12        12.0
Tuesday    1887.58  184.45        10.0
Wednesday  2729.10  302.14         8.0
Thursday   2555.55  289.75        11.0
Friday     4208.15  441.12        22.0
Saturday   1793.00  184.57         9.0

In [99]:
## 2e Print the Sales and Profit totals. 
# For the next three, use Python print formatting for each, with labels: Print just the Sales total. Print just the Profit total. Print just the #Customers total.
#print('Name: {}, Age: {}, Height: {:.2f} meters'.format(name, age, height))

#use formating to print the total sales, profit, and #customers, with 2 digit decimal, and align them to the right
print('Sales total: {:>35.2f}'.format(salesData['Sales'].sum()))
print('Profit total: {:>34.2f}'.format(salesData['Profit'].sum()))
print('#Customers total: {:>30.2f}'.format(salesData['#Customers'].sum()))

Sales total:                            15173.81
Profit total:                            1636.15
#Customers total:                          72.00

In [104]:
## 2f Print the average Sales and average Profit. Print just the name of the day with the largest Sales (this is returned by idxmax() ); do the same for the largest Profit day. Print all the data for the days with the largest Sales; same for the largest Profit.
print('Average Sales: {:>35.2f}'.format(salesData['Sales'].mean()))
print('Average Profit: {:>34.2f}'.format(salesData['Profit'].mean()))
print('Day with largest Sales: {:>26}'.format(salesData['Sales'].idxmax()))
print('Day with largest Profit: {:>25}'.format(salesData['Profit'].idxmax()))
print(salesData.loc[salesData['Sales'].idxmax()])
print(salesData.loc[salesData['Profit'].idxmax()])

Average Sales:                             2528.97
Average Profit:                             272.69
Day with largest Sales:                     Friday
Day with largest Profit:                    Friday
Sales         4208.15
Profit         441.12
#Customers      22.00
Name: Friday, dtype: float64
Sales         4208.15
Profit         441.12
#Customers      22.00
Name: Friday, dtype: float64